ATLAS_APP_URL=http://127.0.0.1:5183
ATLAS_API_URL=http://127.0.0.1:8090
ATLAS_APP_USERNAME=your_email
ATLAS_APP_PASSWORD=your_password
ATLAS_SCREENSHOT_FULLPAGE=true
ATLAS_START_SERVERS=true
ATLAS_WAIT_FOR_API=true
ATLAS_WAIT_TIMEOUT_MS=120000
ATLAS_PROGRESS=true
